@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  @apply bg-white p-4 border shadow-md rounded w-full overflow-hidden;
}

h2 {
  @apply mb-2 text-center uppercase text-gray-600 text-xs;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
}
.loader {
  margin: 2rem auto;
  position: relative;
  border-top: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-right: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.1);
  border-left: 0.25rem solid rgba(0, 0, 0, 0.6);
  transform: translateZ(0);
  animation: spin 1.1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}