REACT_APP_API_URL="http://localhost:4000"
REACT_APP_SEAFILE_ENDPOINT="/seafile"
REACT_APP_PLEX_ENDPOINT="/plex"
REACT_APP_UNIFI_ENDPOINT="/unifi"
REACT_APP_NETDATA_DO_ENDPOINT="/netdata-do"
REACT_APP_NETDATA_DO_URL="http://localhost:19998"
REACT_APP_NETDATA_HOME_ENDPOINT="/netdata-home"
REACT_APP_NETDATA_HOME_URL="http://localhost:19999"
REACT_APP_UPTIME_ROBOT_ENDPOINT="/uptime-robot"
